body {
    background-image: url(images/math-background-13106.gif);
    background-size: cover;
}

h1 {
    text-align: center;
    margin-top: 55px;
    font-size: xxx-large;
}

.calculator {
    display: flex;
    margin: auto;
    margin-top: 100px;
    width: 36em;
    height: 37em;
    background-color: #3f64d3;
    border-radius: 5%;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border: 10px solid black;
}

.display {
    display: flex;
    width: 80%;
    height: 20%;
    margin-top: 5%;
    background-color: #dedad6;
    border-radius: 12%;
    border: solid;
    align-items: center;
    justify-content: flex-end;;
    font-size: x-large;
    overflow: hidden;
    border-radius: 5%;
    padding-right: 15px;
}

.input-container {
    padding: 5px;
    border: 3px solid;
    border-radius: 5%;
    width: 85%;
    height: 55%;
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    grid-template-rows: auto auto auto auto auto;
    flex-flow: row wrap;
    padding: 7px;
    padding-left: 17px;
}

.numbers {
    margin: 5px;
    font-size: large;
    color: black;
    background-color: #d3a43f;
    border: none;
}

.numbers:hover, .operator:hover, #clear:hover, #backspace:hover, #decimal:hover {
    scale: 1.07;
}

#equals:hover {
    scale: 1.04;
}

.operator {
    font-size: xx-large;
    margin: 5px;
    background-color: #d35a3f;
    color: black;
    border: none;
}

#equals {
    grid-column: 2 / -1;
    grid-row: 5/ -1;
    color: white;
    background-color: black;
    margin: 5px;
    font-size: xx-large;
    border: none;
}

#clear {
    background-color: #d3c93f;
    margin: 5px;
    border: none;
    font-size: large;
}

#backspace {
    background-color: #d3c93f;
    font-size: xx-large;
    margin: 5px;
    color: black;
    border: none;
}

#decimal {
    font-size: xx-large;
    margin: 5px;
    border: none;
    background-color: #d3a43f;
}

footer {
    margin-top: 60px;
    font-size: medium;
}